/* Required height of parents of the Full Page Intro and Intro itself */
html, body, .navbar {
	font-family: 'Roboto', sans-serif;
	background-color: #FFF;
	color: #212121;
	transition: 0.1s all;
}

.dark-mode {
	background-color: #111;
	color: #ededed;
}

.side-nav .logo-wrapper {
	height: inherit !important;
}

.side-nav .logo-wrapper a{
	height: inherit !important;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-weight: 300;
}

#scrollUp {
	bottom: 30px !important;
	right: 20px !important;
}

.course-icon {
	position: absolute;
	top: -30px;
	right: -30px;
}

.treeview-colorful {
  font-size: 16px;
  font-weight: 400;
  background: rgba(127, 206, 224, 0.2);
  text-align: left;
}

.treeview-colorful hr {
  border-color: #33b5e5;
}

.treeview-colorful.w-20 {
  width: 20rem;
}

.treeview-colorful h6 {
  font-size: 1.4em;
  font-weight: 500;
  color: #ffac47;
}

.treeview-colorful ul {
  position: relative;
  list-style: none;
  padding-left: 0;
}

.treeview-colorful-element {
  padding: 0.2em 0.2em 0.2em 1em;
  cursor: pointer;
  transition: all .1s linear;
  border: 2px solid transparent;
  border-right: 0px solid transparent;
}

.treeview-colorful-element:hover {
  cursor: initial;
}

.treeview-colorful-items-header {
  display: block;
  padding: 0.4em;
  margin-right: 0;
  border-bottom: 2px solid transparent;
}


.treeview-colorful-items-header:hover {
  background-color: #7fd7e0;
}

.treeview-colorful-items-header.open:hover {

  color: #ffac47;
  background-color: #33b5e5;
}

.treeview-colorful-items-header.open div:hover {
  background-color: #1294a2;
}

.view {
	position: relative;
}

.view .mask {
	width: inherit;
}

.btn {
	border-radius: 25em;
	/*width: 250px;*/
}


/* Navbar animation */
.navbar {
  /* background-color: #FFF;  */
  box-shadow: none;
}

.nav-link:hover {
	text-shadow: 2px 2px 2px #FF8900;
}

.dropdown:hover .dropdown-menu {
	display: block;
	left: 0;
	border-radius: 15px 15px 0 15px;
	box-shadow: 2px 2px 2px #DDD;
	border: none;
	margin-left: 8px;
	/*background-color: #DDD;*/
}

#navbar ul > li > a::after {
	content: ' ';
	display: none;
}

.navbar .nav-link {
	text-transform: uppercase;
	font-size: 14px;
	margin-left: 10px;
	margin-right: 10px;
	color: #000;
}

.dropdown-item.dropdown-notification:active, .dropdown-item.dropdown-notification.active {
  color: #1d1e1f;
  text-decoration: none;
  background-color: #f7f7f9;
}

.dropdown-notification:hover {
	background-color: #f7f7f9 !important;
}

.dropdown-notification:hover .notification-read {
  color: #34495E;
}

.dropdown-notification-all {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-style: oblique;
  background-color: #34495E;
  color: white;
}

.dropdown-notification-all:hover {
  background-color: #34495E;
  color: white;
}

.notifications-container {
  max-height: 300px;
  overflow: auto;
}

.notification-dropdown-menu {
  padding-bottom: 0;
  min-width: 16em;
}

.notification-img {
  width: 24px;
  display: inline-block;
  vertical-align: top;
  color: #000;
}

.notifications-body {
  display: inline-block;
}

.notification-texte {
  text-align: left;
  margin: 0;
}

.notification-read {
  margin: 0;
  height: 48px;
  vertical-align: top;
  line-height: 48px;
  padding-left: 15px;
  color: white;
  float: right;
}

.notification-date {
  text-align: left;
  color: #2980b9;
  margin: 0;
}

.notification-solo {
  margin-top: 1rem;
}

.notification-unread {
  text-decoration: none;
  background-color: #f7f7f9;
}

.top-nav-collapse {
  /* background-color: #FFF; */
  box-shadow: 0 8px 16px #DDD;
  /*height: 75px;*/ 
}

.top-nav-collapse .navbar-brand img{
	height: 50px;
}

.counter {
    position: absolute;
    z-index: 2;
    margin-left: -25px;
    border-radius: 50%;
    left: auto;
    top: 6px;
    padding: 0.25em 0.5em;
}

.sticker {
    position: absolute;
    top: 8px;
    right: -35px;
    width: 125px;
    padding: 3.75px 7.5px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(45deg);
    z-index:5;
    box-shadow: 0px -2px 10px #333;
}
.sticker.sale {
    background: rgba(237,60,50,0.85);
}

.sticker.sold-out {
    background: #333;
}

@media (min-width:992px) {
     .modal-lg,
     .modal-xl {
      max-width:800px
     }
}
@media (min-width:1200px) {
    .modal-xl {
      max-width:1140px
    }
}


/*******************************************************************************************************/
/*  MEDIA QUERIES                                                                                      */
/*******************************************************************************************************/

@media only screen and (max-width: 368px) {
	
	.fixed-top {
		position: unset !important;
	}

   	.navbar-brand {
   		width: 30%;
   	}

   	.navbar-brand img {
   		width: 100%;
   	}

   	.btn {
   		font-size: 10px;
   	}

   	.subheader {
   		font-size: 0.55em;
   		display: block;
   	}

   	.header-title, .header-white {
   		font-size: 1em;
   	}

   	.img-header {
   		margin-top: 0;
   	}

   	.transition {
   		height: 370px;
   	}

   	.container-title h2 {
   		font-size: 3em;
   	}

}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.feature-custom-title {
		font-size: 3em;
   	}

   	 .container-title h2 {
   		font-size: 3em;
   	}

   	.fast-img {
		height: 375px;
	  	line-height: 375px;
	}

	.feature-fast-title {
		font-size: 3em;
	}

	.fast-text p {
		font-size: 1em;
	}

	.custom-text {
		color: #000;
		background-color: #FFF;
		border-radius: 10px;
	}

	.feature-portfolio-title {
   		font-size: 3em;
   	}

   	.portfolio-text p {
   		padding-right: 22em;
   	}

   	.feature-responsive-title {
   		font-size: 3em;
   	}

   	.responsive-text {
		color: #000;
		background-color: #FFF;
		border-radius: 10px 0 0 10px;
	}

	.responsive-text .col-3 {
   		padding-left: 3em;
   		margin-right: 1em;
   		margin-bottom: 1em;
   		color: #1eafff;
   	}

   	#video-header {
   		width: 109%;
   	}

   	#video-header h3 {
   		font-size: 3em;
   	}

   	#video iframe {
   		width: 80%;
   		margin-left:-40%;
   	}

   	#video h6 {
   		font-weight: inherit;
   		font-size: 1em;
   	}
	
	.startups-text {
		padding: 10em 10em 10em 0.5em ;
	}

   	.feature-startups-title {
   		font-size:  3em;
   	}
}
